@font-face {
  font-family: "Helsinki-Grotesk";
  src: url("./fonts/HelsinkiGrotesk-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helsinki-Grotesk";
  src: url("./fonts/HelsinkiGrotesk-RegularItalic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helsinki-Grotesk";
  src: url("./fonts/HelsinkiGrotesk-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helsinki-Grotesk";
  src: url("./fonts/HelsinkiGrotesk-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helsinki-Grotesk";
  src: url("./fonts/HelsinkiGrotesk-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helsinki-Grotesk";
  src: url("./fonts/HelsinkiGrotesk-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helsinki-Grotesk";
  src: url("./fonts/HelsinkiGrotesk-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helsinki-Grotesk";
  src: url("./fonts/HelsinkiGrotesk-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
