div.homePage__violetBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $virittamo-light-violet;
  padding: 45px;
  width: 90%;
  gap: 50px;

  h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
  }

  ul.homePage__violetBox--list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 450px;
    width: 100%;
    gap: 2px;

    li {
      width: 33.3333333333%;
    }

    @include responsive(desktop) {
      height: 475px;

      li {
        width: 30%;
      }
    }

    @include responsive(laptop) {
      height: 500px;

      li {
        width: 30%;
      }
    }
  }

  @include responsive(desktop) {
    width: 85%;
  }
}
