div.carousel-indicators {
  display: none;
}

@include responsive(large_mobile) {
  div.carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 6px;
  }
}
