section.carousel__wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  gap: 12.5px;

  div.carousel__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 2% 0;
    max-height: 700px;
    height: 700px;
    width: 100%;
    gap: 25px;

    @include responsive(desktop) {
      padding: 0 4% 0;
      max-height: 750px;
      height: 750px;
    }

    @include responsive(large_mobile) {
      text-align: center;
      padding: 0 0% 0;
      max-height: 500px;
      height: 500px;
      gap: 0px;
    }

    @include responsive(mobile) {
      text-align: center;
      max-height: 360px;
      height: 360px;
    }

    // import carousel slide styling
    @import "./SubComponents/carousel_index.scss";

    button.arrow-button {
      cursor: pointer;
      height: 35px;
      width: 35px;
      z-index: 2;

      @include responsive(large_mobile) {
        background: rgba(0, 0, 0, 0.1);
      }

      svg.arrow-button--icon {
        color: $dark-link-hover;
        height: 100%;
        width: 100%;
        // transition
        transition: 0.1s ease-in-out;

        @include responsive(large_mobile) {
          height: 50%;
          width: 50%;
          fill: $virittamo-white;
        }
      }

      svg.arrow-button--icon:hover {
        color: $virittamo-black;
      }
    }

    @include responsive(large_mobile) {
      button:first-of-type {
        position: absolute;
        top: 50%;
        left: 25px;
      }

      button:last-of-type {
        position: absolute;
        top: 50%;
        right: 25px;
      }
    }
  }
}
