div.carousel__item--uraohjain {
  position: relative;
  padding: 50px;
  height: 100%;
  width: 100%;
  object-fit: cover;

  @include responsive(desktop) {
    width: 95%;
  }

  @include responsive(laptop) {
    width: 85%;
  }

  @include responsive(tablet) {
    width: 82.5%;
  }

  @include responsive(large_mobile) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  img.carousel__item--uraohjain-logo {
    position: absolute;
    width: 150px;
    height: auto;
  }
}
