main.homePage__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 100px;

  h1 {
    font-size: $font-size-h1;
    font-weight: bold;
    line-height: 60px;
  }

  h2 {
    font-size: $font-size-h2;
    font-weight: bold;
    line-height: 38px;
  }

  h3 {
    font-size: $font-size-h3;
    font-weight: bold;
    line-height: 30px;
  }

  li {
    font-size: $font-size-li;
    font-weight: 500;
  }

  p {
    font-size: $font-size-normal;
    font-weight: 500;
  }

  div#pink-bar {
    background: $virittamo-pink;
    width: 200px;
    height: 3px;
  }

  div.homePage__img--container {
    height: 80vh;
    width: 100%;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  section.homePage__introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 25px;

    p {
      font-size: $font-size-subtext;
      width: 475px;
    }
  }

  section.homePage__why {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
    position: relative;
    width: 100%;
    gap: 100px;

    @include responsive(desktop) {
      div.background__wrapper {
        height: 75%;
      }
    }

    div.homePage__why--containers {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      gap: 150px;
      padding: 0 5% 0;

      div.homePage__why--containers-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        height: auto;
        width: 600px;
        min-width: 600px;
        gap: 32px;

        img {
          border-radius: 50% 50% 0px 0px;
          object-fit: cover;
          width: 100%;
          height: 700px;
        }

        img#employee-img {
          object-position: 32% 50%;
        }

        ul.homePage__why--containers-list {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }
    }
  }

  section.homePage__teams {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    position: relative;
    height: 100%;
    width: 100%;
    gap: 100px;

    @include responsive(desktop) {
      div.background__wrapper {
        height: 70%;
      }
    }

    div.homePage__teams--containers {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      gap: 100px;
      padding: 0 5% 0;

      div.homePage__teams--containers-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        height: auto;
        width: 450px;
        min-width: 300px;

        img {
          border-radius: 50% 50% 0px 0px;
          object-fit: cover;
          width: 100%;
          height: 525px;
          margin-bottom: 32px;
        }

        h3 {
          margin-bottom: 16px;
        }

        button {
          display: flex;
          width: 33%;
          color: $virittamo-pink;
          font-weight: bold;
          font-style: italic;
          font-size: 20px;
          cursor: pointer;
        }

        button:hover {
          color: $dark-link-hover;
        }
      }
    }
  }

  section.homePage__apply {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 10% 0;
    width: 100%;
    gap: 50px;

    p {
      font-size: $font-size-subtext;
    }

    div.homePage__apply--container {
      ul.homePage__apply--container-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        gap: 32px;

        div.homePage__apply--container-list-item {
          display: flex;
          flex-direction: column;
          height: auto;
          width: 475px;
          min-width: 475px;
          gap: 32px;
        }
      }
    }
  }

  section.homePage__partners {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 12% 0;
    width: 100%;
    gap: 100px;

    div.homePage__partners--container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      div.homePage__partners--container-images {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 50px;
        width: 100%;
        gap: 50px;

        img {
          width: 175px;
        }
      }
    }
  }
}
