main.storiesPage__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 100px;

  @include responsive(mobile) {
    gap: 50px;
  }

  div.storiesPage__introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 150px;
    width: 100%;
    gap: 25px;

    p {
      font-size: $font-size-subtext;
      text-align: center;
      width: 45%;

      @include responsive(tablet) {
        width: 60%;
      }

      @include responsive(large_mobile) {
        width: 70%;
      }

      @include responsive(mobile) {
        font-size: 18px;
        line-height: 20px;
        width: 90%;
      }
    }
  }

  div#pink-bar {
    background: $virittamo-pink;
    width: 200px;
    height: 3px;
  }

  ul.storiesPage__featuredStory {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 60px;

    li.storiesPage__featuredStory--item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
      text-align: left;
      width: 45%;
      gap: 25px;

      @include responsive(desktop) {
        width: 55%;
      }

      @include responsive(tablet) {
        text-align: center;
        width: 75%;
      }

      @include responsive(large_mobile) {
        border: 0px solid $virittamo-light-violet;
        padding: 7.5%;
        width: 100%;
      }

      img {
        background: $virittamo-pink;
        object-fit: cover;
        border-radius: 50%;
        height: 150px;
        width: 150px;
      }

      h2 {
        font-size: 36px;
        padding: 0 5% 0;
      }

      div.storiesPage__featuredStory--item-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 7.5px;
      }

      div.storiesPage__featuredStory--item-text {
        display: flex;
        background: $virittamo-light-violet;
        flex-direction: column;
        text-align: justify;
        padding: 5%;
        margin-bottom: 25px;
        gap: 25px;

        @include responsive(tablet) {
          text-align: center;
        }

        p {
          font-size: 16px;
        }
      }

      div.background__wrapper {
        height: 2.5%;
      }
    }
  }
}
