main.header__wrapper {
  display: flex;
  padding: 45px 200px 25px;
  justify-content: center;
  margin-bottom: -60px;
  align-items: center;
  height: 145px;
  width: 100%;

  div.header__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    width: 100%;

    img {
      height: 75px;
      width: auto;
    }

    // nav links
    nav.header__nav {
      margin-bottom: 3px;
      ul.header__nav--list {
        display: flex;
        gap: 42px;

        li.header__nav--list-item {
          a {
            font-weight: bold;
            font-size: $font-size-big;
            color: $virittamo-black;
            // transition
            transition: 0.1s ease-in-out;
          }

          a:hover {
            color: $virittamo-pink;
          }
        }
      }
    }

    // virittämö social icons
    section.header__socials {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3px;
      gap: 16px;

      a {
        height: 30px;
        width: 30px;

        .social-icon {
          color: $virittamo-black;
          height: 100%;
          width: 100%;
          // transition
          transition: 0.1s ease-in-out;
        }

        .social-icon:hover {
          color: $dark-link-hover;
        }
      }

      // fi/en language switch button
      div.header__language {
        margin-left: 12px;

        a {
          color: $virittamo-black;
          font-weight: bolder;
          // transition
          transition: 0.1s ease-in-out;
        }

        a:hover {
          color: $virittamo-pink;
        }
      }
    }
  }
}
