// colour scheme
$virittamo-pink: #f4a3c5;
$virittamo-grey: #e0e0e0;
$virittamo-green: #54b99a;
$virittamo-white: #ffffff;
$virittamo-black: #050505;
$virittamo-light-violet: #e0deec;

// other
$dark-link-hover: #5e5e5e;

// font sizing
$font-size-h1: 102px;
$font-size-h2: 64px;
$font-size-h3: 36px;
$font-size-li: 20px;
$font-size-a: 18px;
$font-size-subtext: 20px;
$font-size-normal: 16px;
$font-size-mobile: 14px;
$font-size-tiny: 12px;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

  // define font family
  font-family: Helsinki-Grotesk, Arial;
  font-weight: 400;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button,
input {
  border: none;
  overflow: visible;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

body {
  display: flex;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;

  img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  li {
    color: $virittamo-black;
  }

  h1 {
    font-size: $font-size-h1;
    font-weight: 700;
    line-height: 1;
  }

  h2 {
    font-size: $font-size-h2;
    font-weight: 700;
    line-height: 1;
  }

  h3 {
    font-size: $font-size-h3;
    font-weight: 700;
    line-height: 1;
  }

  li {
    font-size: $font-size-li;
    font-weight: 400;
  }

  p {
    font-size: $font-size-normal;
    font-weight: 400;

    @include responsive(large_mobile) {
      font-size: $font-size-mobile;
      line-height: 22px;
    }
  }
}
