.carousel__wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  gap: 1rem;

  .carousel__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 2% 0;
    max-height: 700px;
    height: 700px;
    width: 100%;
    gap: 25px;

    @include responsive(desktop) {
      padding: 0 4% 0;
      max-height: 750px;
      height: 750px;
    }

    @include responsive(large_mobile) {
      text-align: center;
      padding: 0 0% 0;
      max-height: 500px;
      height: 500px;
      gap: 0px;
    }

    @include responsive(mobile) {
      text-align: center;
      max-height: 360px;
      height: 360px;
    }

    .carousel__item--feedback {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
      height: 100%;
      width: 100%;

      @include responsive(laptop) {
        gap: 50px;
      }

      @include responsive(large_mobile) {
        gap: 25px;
      }

      h1 {
        font-size: 224px;
        line-height: 224px;
        color: $virittamo-white;

        @include responsive(large_mobile) {
          font-size: 184px;
          line-height: 184px;
        }

        @include responsive(mobile) {
          font-size: 124px;
          line-height: 124px;
        }
      }

      h2 {
        line-height: 56px !important;
        font-size: 54px !important;
        color: $virittamo-white;

        @include responsive(desktop) {
          line-height: 48px !important;
          font-size: 46px !important;
        }

        @include responsive(mobile) {
          line-height: 24px !important;
          font-size: 24px !important;
        }
      }

      p {
        font-size: 34px;
        color: $virittamo-white;

        @include responsive(large_mobile) {
          font-size: 30px;
        }

        @include responsive(mobile) {
          font-size: 24px;
        }
      }

      .carousel__item--feedback-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 150px;
        top: 150px;

        @include responsive(laptop) {
          position: initial;
          left: 0;
          top: 0;
        }
      }

      h2 {
        text-align: center;
        line-height: 54px;
        right: 150px;
        bottom: 150px;
        padding: 0;
        width: 40%;
        position: absolute;

        @include responsive(laptop) {
          font-size: 36px;
          line-height: 36px;
          position: initial;
          width: 60%;
          bottom: 0;
          right: 0;
        }

        @include responsive(tablet) {
          font-size: 34px !important;
          line-height: 34px !important;
          width: 70%;
        }

        @include responsive(large_mobile) {
          width: 75%;
        }

        @include responsive(mobile) {
          font-size: 24px !important;
          line-height: 24px !important;
        }
      }
    }

    .carousel__item--companies {
      display: flex;
      flex-direction: column;
      background: $virittamo-light-violet;
      justify-content: center;
      align-items: center;
      padding: 100px 175px;
      height: 100%;
      width: 100%;
      gap: 45px;

      @include responsive(desktop) {
        padding: 100px 100px;
        width: 85%;
      }

      @include responsive(large_mobile) {
        padding: 50px;
        width: 100%;
      }

      h3 {
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
      }

      .carousel__item--companies-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 30px;
        overflow-y: hidden;
        overflow-x: scroll;
        flex-wrap: wrap;
        height: 500px;
        width: 100%;
        gap: 15px;

        @include responsive(desktop) {
          height: 550px;
        }

        @include responsive(laptop) {
          width: auto;
          height: 600px;
        }

        @include responsive(large_mobile) {
          max-height: 450px;
          height: 450px;
        }

        @include responsive(mobile) {
          height: auto;
        }

        .carousel__item--companies-list-item {
          height: auto;
          width: 30%;
          line-height: 22px;

          @include responsive(laptop) {
            width: 50%;
          }

          @include responsive(large_mobile) {
            width: 100%;
          }

          @include responsive(mobile) {
            height: auto;
          }
        }

        h4 {
          font-weight: bold;
        }
      }

      /* width */
      ::-webkit-scrollbar {
        height: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #adadad3f;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: $virittamo-white;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: $virittamo-pink;
      }
    }

    .carousel__item--image {
      height: 100%;
      width: 100%;
      object-fit: cover;

      @include responsive(desktop) {
        width: 95%;
      }

      @include responsive(laptop) {
        width: 85%;
      }

      @include responsive(tablet) {
        width: 82.5%;
      }

      @include responsive(large_mobile) {
        width: 100%;
      }
    }

    .carousel__item--article {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
      height: 100%;
      width: 100%;

      @include responsive(large_mobile) {
        h3 {
          font-size: 26px;
        }
      }

      @include responsive(mobile) {
        padding: 22.5px;
      }

      .carousel__item--article-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: linear-gradient(
          to left,
          transparent 0%,
          $virittamo-black 100%
        );
        border-radius: 0 15px 0 0;
        position: absolute;
        padding: 100px;
        max-height: 100%;
        max-width: 50%;
        gap: 11.25px;
        height: 100%;
        width: auto;
        bottom: 0;
        left: 0;

        @include responsive(large_mobile) {
          padding: 50px;
        }

        @include responsive(mobile) {
          padding: 60px;
        }

        @include responsive(desktop) {
          max-width: 65%;
        }

        @include responsive(laptop) {
          max-width: 100%;
          text-align: center;
          background: linear-gradient(
            to bottom,
            transparent 0%,
            $virittamo-black 100%
          );
          border-bottom: 6px solid $virittamo-pink;
        }

        p,
        h3 {
          padding-left: 11.25px;
          border-left: 3px solid $virittamo-pink;
          color: $virittamo-white;

          @include responsive(laptop) {
            padding-left: 0;
            border-left: 0;
          }
        }
      }
    }

    .carousel__item--video {
      height: 100%;
      width: 100%;
      object-fit: cover;

      @include responsive(desktop) {
        width: 90%;
      }

      @include responsive(laptop) {
        width: 85%;
      }

      @include responsive(tablet) {
        width: 82.5%;
      }

      @include responsive(large_mobile) {
        width: 100%;
      }
    }

    .carousel__item--instagram {
      border: 0;
      height: 100%;
      width: 100%;
    }

    .carousel__item--loading {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }

    .arrow-button {
      cursor: pointer;
      height: 35px;
      width: 35px;
      z-index: 2;

      @include responsive(large_mobile) {
        background: rgba(0, 0, 0, 0.1);
      }

      .arrow-button--icon {
        color: $dark-link-hover;
        height: 100%;
        width: 100%;
        // transition
        transition: 0.1s ease-in-out;

        @include responsive(large_mobile) {
          height: 50%;
          width: 50%;
          fill: $virittamo-white;
        }
      }

      .arrow-button--icon:hover {
        color: $virittamo-black;
      }
    }

    @include responsive(large_mobile) {
      button:first-of-type {
        position: absolute;
        top: 50%;
        left: 25px;
      }

      button:last-of-type {
        position: absolute;
        top: 50%;
        right: 25px;
      }
    }
  }
}

.carousel__item--uraohjain {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 140px;
    height: 140px;
  }

  .carousel__item--uraohjain-logo {
    margin: 50px;
  }

  .carousel__item--bottom-row-logos {
    margin: 50px;
    display: flex;
    gap: 20px;

    img {
      border-radius: 50%;
    }
  }

  @include responsive(desktop) {
    width: 95%;
  }

  @include responsive(laptop) {
    width: 85%;
  }

  @include responsive(tablet) {
    width: 82.5%;

    img {
      width: 110px;
      height: 110px;
    }

    .carousel__item--bottom-row-logos {
      margin: 50px;
      display: flex;
      gap: 15px;
    }
  }

  @include responsive(large_mobile) {
    width: 100%;

    img {
      width: 90px;
      height: 90px;
    }

    .carousel__item--uraohjain-logo {
      margin: 30px;
    }

    .carousel__item--bottom-row-logos {
      margin-left: 30px;
      margin-bottom: 20px;
      gap: 15px;
    }
  }

  @include responsive(mobile) {
    width: 100%;

    img {
      width: 70px;
      height: 70px;
    }

    .carousel__item--uraohjain-logo {
      margin: 30px;
    }

    .carousel__item--bottom-row-logos {
      margin-left: 30px;
      margin-bottom: 10px;
      gap: 5px;
    }
  }
}

.carousel__item--uraohjain_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px;
  height: 100%;
  width: 100%;
  gap: 20px;

  @include responsive(desktop) {
    width: 95%;
  }

  @include responsive(laptop) {
    width: 85%;
  }

  @include responsive(tablet) {
    width: 82.5%;
    justify-content: space-between;
  }

  @include responsive(large_mobile) {
    width: 100%;
  }

  .carousel__item--uraohjain_2-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include responsive(tablet) {
      margin: 50px;
    }

    @include responsive(large_mobile) {
      margin: 10px;
    }

    img.carousel__item--uraohjain_2-logo {
      width: 90px;
      height: auto;

      @include responsive(large_mobile) {
        margin-top: 10px;
        width: 80px;
      }

      @include responsive(mobile) {
        width: 45px;
        height: 50px;
      }
    }

    .carousel__item--uraohjain_2-title {
      margin: 0 auto;
      color: #6c1741;
      font-family: "Aharoni", sans-serif;
      font-size: 34px;
      font-weight: 800;
      padding: 0;

      @include responsive(tablet) {
        color: white;
      }

      @include responsive(large_mobile) {
        font-size: 25px;
      }

      @include responsive(mobile) {
        font-size: 20px;
      }
    }
  }

  .carousel__item--uraohjain_2-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 550px;
    width: 100%;
    gap: 50px;

    @include responsive(laptop) {
      height: 400px;
    }

    @include responsive(tablet) {
      background: linear-gradient(
        to bottom,
        transparent 0%,
        hsla(0, 0%, 0%, 0.534) 75%
      );
      justify-content: center;
      position: absolute;
      height: 100%;
      width: 100%;
    }

    .carousel__item--uraohjain_2-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: start;
      width: 650px;
      gap: 25px;

      @include responsive(large_desktop) {
        gap: 15px;
      }

      @include responsive(tablet) {
        align-items: left;
        width: 75%;
      }

      @include responsive(large_mobile) {
        width: 70%;
        margin-top: 50px;
        gap: 10px;
      }

      @include responsive(mobile) {
        width: 70%;
      }

      p {
        margin-top: 10px;
        white-space: pre-wrap;
        font-family: "Aharoni", sans-serif;
        font-size: 18px;
        color: #6c1741;

        @include responsive(laptop) {
          font-size: 14px !important;
          line-height: 16px;
        }

        @include responsive(tablet) {
          text-align: left;
          font-size: 16px !important;
          line-height: 18px;
        }

        @include responsive(large_mobile) {
          font-size: 14px !important;
          line-height: 16px;
        }

        @include responsive(mobile) {
          font-size: 12px !important;
          line-height: 14px;
        }
      }

      h2 {
        padding: 0;

        @include responsive(large_desktop) {
          font-size: 44px !important;
          line-height: 46px;
        }

        @include responsive(desktop) {
          font-size: 36px !important;
          line-height: 38px;
        }

        @include responsive(laptop) {
          font-size: 26px !important;
          line-height: 28px;
        }

        @include responsive(tablet) {
          font-size: 42px !important;
          line-height: 44px;
        }

        @include responsive(large_mobile) {
          font-size: 36px !important;
          line-height: 38px;
        }

        @include responsive(mobile) {
          font-size: 26px !important;
          line-height: 28px;
        }
      }

      h3 {
        color: #6c1741;
        font-family: "Aharoni", sans-serif;
        font-weight: 800;

        @include responsive(large_desktop) {
          font-size: 26px !important;
          line-height: 28px;
        }

        @include responsive(desktop) {
          font-size: 22px !important;
          line-height: 24px;
        }

        @include responsive(laptop) {
          font-size: 18px !important;
          line-height: 20px;
        }

        @include responsive(tablet) {
          font-size: 22px !important;
          line-height: 24px;
        }

        @include responsive(large_mobile) {
          font-size: 20px !important;
          line-height: 22px;
        }

        @include responsive(mobile) {
          font-size: 14px !important;
          line-height: 16px;
        }
      }

      @include responsive(tablet) {
        h2,
        h3,
        p {
          color: $virittamo-white;
        }
      }
    }

    .carousel__item--uraohjain_2-img {
      object-fit: cover;
      width: 800px;

      @include responsive(desktop) {
        height: 400px;
      }

      @include responsive(laptop) {
        height: 350px;
      }

      @include responsive(tablet) {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
      }
    }
  }

  .carousel__item--uraohjain_2-bar {
    background: #e7bdc7;
    height: 25px;
    width: 100%;

    @include responsive(desktop) {
      height: 20px;
    }

    @include responsive(laptop) {
      height: 15px;
    }

    @include responsive(tablet) {
      position: absolute;
      width: 90%;
      bottom: 50px;
    }

    @include responsive(large_mobile) {
      height: 10px;
      width: 80%;
      bottom: 0px;
    }

    @include responsive(mobile) {
      display: none;
    }
  }
}
