@font-face {
  font-family: "Helsinki-Grotesk";
  src: url(/fonts/HelsinkiGrotesk-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helsinki-Grotesk";
  src: url(fonts/HelsinkiGrotesk-RegularItalic.woff2);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helsinki-Grotesk";
  src: url(fonts/HelsinkiGrotesk-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helsinki-Grotesk";
  src: url(/fonts/HelsinkiGrotesk-MediumItalic.woff2);
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helsinki-Grotesk";
  src: url(/fonts/HelsinkiGrotesk-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helsinki-Grotesk";
  src: url(/fonts/HelsinkiGrotesk-BoldItalic.woff2);
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helsinki-Grotesk";
  src: url(/fonts/HelsinkiGrotesk-Black.woff2);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helsinki-Grotesk";
  src: url(/fonts/HelsinkiGrotesk-BlackItalic.woff2);
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
