.projectPage__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 6.25rem;

  @include responsive(mobile) {
    gap: 50px;
  }

  h2 {
    @include responsive(mobile) {
      font-size: 36px;
    }
  }

  @include responsive(mobile) {
    h3 {
      font-size: 32px;
    }
  }

  #pink-bar {
    background: $virittamo-pink;
    width: 200px;
    height: 3px;
  }

  .projectPage__introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    width: 100%;
    gap: 50px;

    @include responsive(mobile) {
      h1 {
        font-size: 54px;
      }
    }

    p {
      font-size: $font-size-subtext;
      width: 800px;

      @include responsive(tablet) {
        width: 600px;
      }

      @include responsive(large_mobile) {
        line-height: 24px;
        width: 350px;
      }

      @include responsive(mobile) {
        width: 325px;
      }
    }
  }

  .projectPage__teams--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 100px;



     p {
        font-size: $font-size-subtext;
        width: auto;

        @include responsive(tablet) {
          width: 70%;
        }

        @include responsive(large_mobile) {
          width: 75%;
        }
    }
  }
}
