// import responsive mixins
@import "responsive";

// boilerplate styling
@import "base";

// font imports
@import "fonts";

// import page styling
@import "homepage";
@import "projectspage";
@import "projectdetails";
@import "storiespage";

// import component styling
@import "header";
@import "background";
@import "footer";
@import "carousel";
@import "slideindicator";

#root {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

