main.projectDetails__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  gap: 100px;

  @include responsive(tablet) {
    gap: 75px;
  }

  @include responsive(large_mobile) {
    gap: 50px;
  }

  h1 {
    @include responsive(tablet) {
      font-size: 64px;
    }

    @include responsive(large_mobile) {
      line-height: 46px;
      font-size: 46px;
    }

    @include responsive(mobile) {
      line-height: 36px;
      font-size: 36px;
    }

    @include responsive(small_mobile) {
      line-height: 30px;
      font-size: 30px;
    }
  }

  @include responsive(mobile) {
    gap: 50px;
  }

  h2 {
    padding: 0 5% 0;

    @include responsive(tablet) {
      font-size: 38px;
    }

    @include responsive(large_mobile) {
      font-size: 34px;
    }

    @include responsive(mobile) {
      font-size: 28px;
    }

    @include responsive(small_mobile) {
      font-size: 24px;
    }
  }

  @include responsive(mobile) {
    h3 {
      font-size: 24px;
    }
  }

  main.header__wrapper {
    margin-bottom: 0px;
  }

  section.projectDetails__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    width: 100%;
    gap: 25px;

    @include responsive(tablet) {
      margin-top: 75px;
      gap: 10px;
    }

    @include responsive(large_mobile) {
      gap: 5px;
    }

    p {
      font-weight: 600;
      font-size: 28px;
      width: auto;
    }

    h2#projectDetails__title--client {
      font-weight: 500;
    }

    p#projectDetails__title--desc {
      font-weight: 500;
      margin-top: 50px;
      font-size: 20px;
      width: 60%;

      @include responsive(tablet) {
        width: 70%;
        font-size: 18px;
        margin-top: 25px;
      }

      @include responsive(large_mobile) {
        font-size: 16px;
      }

      @include responsive(mobile) {
        font-size: 14px;
      }
    }
  }

  section.projectDetails__image--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
    gap: 50px;

    img {
      border: 1px solid $virittamo-light-violet;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  div#pink-bar {
    background: $virittamo-pink;
    width: 200px;
    height: 3px;
  }

  section.homePage__partners {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 12% 0;
    width: 100%;
    gap: 100px;

    @include responsive(mobile) {
      gap: 50px;
    }

    h2 {
      text-align: center;
    }

    div.homePage__partners--container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      div.homePage__partners--container-images {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 50px;
        width: 100%;
        gap: 50px;

        img {
          width: 175px;
        }
      }
    }
  }
}
