main.footer__wrapper {
  display: flex;
  padding: 25px 10% 75px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 60px;
  height: auto;
  width: 100%;
  gap: 100px;

  h2 {
    text-align: center;
  }

  @include responsive(large_mobile) {
    padding: 10px 10% 50px;
    gap: 50px;
  }

  div.background__wrapper {
    background: $virittamo-light-violet;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    bottom: 0;

    svg {
      fill: $virittamo-light-violet;
      height: 85px;
      width: 100%;
      margin-top: -60px;
      top: 0px;
    }
  }

  div.footer__contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10%;
    height: auto;
    width: 100%;
    gap: 75px;

    @include responsive(large_mobile) {
      padding: 0px 0%;
      align-items: center;
    }

    p {
      font-size: $font-size-subtext;
    }

    div#black-bar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2px;
      width: 100%;

      div#black-bar {
        background: $virittamo-black;
        height: 2px;
        width: 60%;
      }
    }

    ul.footer__contacts--list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      height: 625px;
      width: 100%;
      gap: 20px;

      @include responsive(tablet) {
        text-align: center;
        height: auto;
        gap: 35px;
      }

      @include responsive(large_mobile) {
        gap: 25px;
      }

      li.footer__contacts--list-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50%;

        @include responsive(large_mobile) {
          text-align: center;
          width: 100%;
        }

        p:first-of-type {
          font-weight: 900;
        }

        @include responsive(mobile) {
          p {
            font-size: 18px;
          }
        }
      }
    }

    ul.footer__locations--list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: auto;
      width: 100%;
      gap: 20px;

      @include responsive(large_mobile) {
        text-align: center;
        height: auto;
      }

      li.footer__locations--list-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 50%;

        @include responsive(large_mobile) {
          width: 100%;
        }

        p:first-of-type {
          font-weight: 900;
        }

        @include responsive(mobile) {
          p {
            font-size: 18px;
          }
        }
      }
    }
  }

  div.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    width: 100%;

    @include responsive(large_mobile) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    img {
      height: 75px;
      width: auto;
    }

    // nav links
    nav.footer__nav {
      margin-bottom: 3px;
      ul.footer__nav--list {
        display: flex;
        gap: 42px;

        @include responsive(laptop) {
          gap: 21px;
        }

        @include responsive(tablet) {
          display: none;
        }

        li.footer__nav--list-item {
          a {
            font-weight: bolder;
            font-size: $font-size-a;
            color: $virittamo-black;
            // transition
            transition: 0.1s ease-in-out;
          }

          a:hover {
            color: $virittamo-pink;
          }
        }
      }
    }

    // virittämö social icons
    section.footer__socials {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3px;
      flex-wrap: wrap;
      gap: 16px;

      a {
        height: 30px;
        width: 30px;

        .social-icon {
          color: $virittamo-black;
          height: 100%;
          width: 100%;
          // transition
          transition: 0.1s ease-in-out;
        }

        .social-icon:hover {
          color: $dark-link-hover;
        }
      }

      button {
        display: flex;
        width: auto;
        color: $virittamo-black;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        // transition
        transition: 0.1s ease-in-out;
      }

      button:hover {
        color: $virittamo-pink;
      }
    }
  }
}
