// import responsive mixins
@import "./responsive";

// boilerplate styling
@import "base";

// font imports
@import "fonts";

// import page styling
@import "../pages/Home/homepage";
@import "../pages/Projects/projectspage";
@import "../pages/Projects/ProjectDetails/projectdetails";
@import "../pages/Stories/storiespage";

// import component styling
@import "../components/header";
@import "../components/Background/background";
@import "../components/footer";
@import "../components//Loading/loading";
@import "../pages/Home/Carousel/carousel";
@import "../components/SlideIndicator/slideindicator";

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 100px;
}
article div h1, article div h2, article div h3 {
    padding: 0;
    margin: 0;
}

.example-container {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 0.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  z-index: 2;

  &:hover{
    transform: scale(1.05,1.05)
}
}


.next *, .prev * {
    width: 100%;
    height: 25px;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}

 img {
  position: absolute;
  max-width: 100vw;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
}
